@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Black.woff2') format('woff2'),
        url('CircularStd-Black.woff') format('woff'),
        url('CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Black_1.woff2') format('woff2'),
        url('CircularStd-Black_1.woff') format('woff'),
        url('CircularStd-Black_1.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BlackItalic.woff2') format('woff2'),
        url('CircularStd-BlackItalic.woff') format('woff'),
        url('CircularStd-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Bold.woff2') format('woff2'),
        url('CircularStd-Bold.woff') format('woff'),
        url('CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BlackItalic_1.woff2') format('woff2'),
        url('CircularStd-BlackItalic_1.woff') format('woff'),
        url('CircularStd-BlackItalic_1.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Black_2.woff2') format('woff2'),
        url('CircularStd-Black_2.woff') format('woff'),
        url('CircularStd-Black_2.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BlackItalic_2.woff2') format('woff2'),
        url('CircularStd-BlackItalic_2.woff') format('woff'),
        url('CircularStd-BlackItalic_2.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Bold_1.woff2') format('woff2'),
        url('CircularStd-Bold_1.woff') format('woff'),
        url('CircularStd-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BlackItalic_3.woff2') format('woff2'),
        url('CircularStd-BlackItalic_3.woff') format('woff'),
        url('CircularStd-BlackItalic_3.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Black_3.woff2') format('woff2'),
        url('CircularStd-Black_3.woff') format('woff'),
        url('CircularStd-Black_3.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Black_4.woff2') format('woff2'),
        url('CircularStd-Black_4.woff') format('woff'),
        url('CircularStd-Black_4.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Bold_2.woff2') format('woff2'),
        url('CircularStd-Bold_2.woff') format('woff'),
        url('CircularStd-Bold_2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BlackItalic_4.woff2') format('woff2'),
        url('CircularStd-BlackItalic_4.woff') format('woff'),
        url('CircularStd-BlackItalic_4.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Bold_3.woff2') format('woff2'),
        url('CircularStd-Bold_3.woff') format('woff'),
        url('CircularStd-Bold_3.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Bold_4.woff2') format('woff2'),
        url('CircularStd-Bold_4.woff') format('woff'),
        url('CircularStd-Bold_4.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BoldItalic.woff2') format('woff2'),
        url('CircularStd-BoldItalic.woff') format('woff'),
        url('CircularStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BoldItalic_1.woff2') format('woff2'),
        url('CircularStd-BoldItalic_1.woff') format('woff'),
        url('CircularStd-BoldItalic_1.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Book.woff2') format('woff2'),
        url('CircularStd-Book.woff') format('woff'),
        url('CircularStd-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Book_1.woff2') format('woff2'),
        url('CircularStd-Book_1.woff') format('woff'),
        url('CircularStd-Book_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BoldItalic_2.woff2') format('woff2'),
        url('CircularStd-BoldItalic_2.woff') format('woff'),
        url('CircularStd-BoldItalic_2.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BoldItalic_3.woff2') format('woff2'),
        url('CircularStd-BoldItalic_3.woff') format('woff'),
        url('CircularStd-BoldItalic_3.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Book_2.woff2') format('woff2'),
        url('CircularStd-Book_2.woff') format('woff'),
        url('CircularStd-Book_2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BoldItalic_4.woff2') format('woff2'),
        url('CircularStd-BoldItalic_4.woff') format('woff'),
        url('CircularStd-BoldItalic_4.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Book_3.woff2') format('woff2'),
        url('CircularStd-Book_3.woff') format('woff'),
        url('CircularStd-Book_3.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BookItalic.woff2') format('woff2'),
        url('CircularStd-BookItalic.woff') format('woff'),
        url('CircularStd-BookItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BookItalic_1.woff2') format('woff2'),
        url('CircularStd-BookItalic_1.woff') format('woff'),
        url('CircularStd-BookItalic_1.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BookItalic_2.woff2') format('woff2'),
        url('CircularStd-BookItalic_2.woff') format('woff'),
        url('CircularStd-BookItalic_2.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BookItalic_3.woff2') format('woff2'),
        url('CircularStd-BookItalic_3.woff') format('woff'),
        url('CircularStd-BookItalic_3.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Medium.woff2') format('woff2'),
        url('CircularStd-Medium.woff') format('woff'),
        url('CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BookItalic_4.woff2') format('woff2'),
        url('CircularStd-BookItalic_4.woff') format('woff'),
        url('CircularStd-BookItalic_4.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

